*{
    margin: 0;
    padding: 0;
}

body{
    background: #0D0828;
    position: relative;
    overflow: hidden;
    background-image: url('background-gradient.png');
    background-size: cover;
}   

.center{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
